body {
  margin: 0;
}

#root {
  font-family: var(--grotesk);
  max-width: 100%;
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  font-family: var(--pinyon);
  /* color: var(--gradient-header); */
  text-box: trim-both cap alphabetic;
}

h3 {
  font-family: var(--grotesk);
  font-weight: 500;
  text-box: trim-both cap alphabetic;
}

p {
  margin: 0;
  text-box: trim-both cap alphabetic;
}

span {
  text-box: trim-both cap alphabetic;
}

.panel-titlebar {
  padding: 0.35rem 0.75rem;
  border-bottom: 1px solid var(--border);
  background: var(--gradient-panel);
}

.panel-label {
  font-family: var(--cascadia);
  font-size: 13px;
  color: var(--text-gray);
}

.pulsing-glow {
  color: #fff;
  animation: pulse 2s ease-in-out infinite alternate;
}